<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxg.suyoushop.provider.mapper.CarMapper">
  <resultMap id="BaseResultMap" type="com.kxg.suyoushop.provider.pojo.Car">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="buyer_id" jdbcType="INTEGER" property="buyerId" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="check_status" jdbcType="SMALLINT" property="checkStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="main_image_url" jdbcType="VARCHAR" property="mainImageUrl" />
    <result column="g_name" jdbcType="VARCHAR" property="gName" />
  </resultMap>
</mapper>